<% provide(:title, @article.title) %>
<!DOCTYPE html>
<html>
  <body id="article">
    <article class="card container">
      <div class="it-Header">
        <div class="col-sm-2">
          <%= image_tag("sibaken.jpg", size: "80x80",class: "avatar") %>
        </div>
        <div class="user-info"><%= link_to(@article.child.user.name, user_path)%> <%= "#{time_ago_in_words(@article.created_at)} ago" %><div>
      </div>
      <h1 class="syousai-title"><%= "#{@article.title}"  %></h1>
      <p class="honbun"><%= @article.text %></p>
    </article>
    <div class="comment container">
      <div class="title col-sm-12">コメント</div>
      <div class="col-sm-12">
        <% @comments.each do |comment| %>
        <div class="col-sm-12 comment-user">
          <%= image_tag("sibaken.jpg",class: "avatar col-sm-2") %>
          <span class="name col-sm-3"><%= comment.user.name %></span>
          <span class="time col-sm-5"><%= "#{time_ago_in_words(comment.created_at)} ago" %></span>
        </div>
          <pre class="card">
            <div class="text">
              <%= comment.text %>
            </div>
          </pre>
        <% end %>
      </div>
    </div>
  </body>
