<% provide(:title, @article.title) %>
<!DOCTYPE html>
<html>
  <body>
    <article class="">
      <h1><%= @article.title %></h1>
      <h2><%= @article.child.user.name %></h2>
      <pre><%= @article.text %></pre>
    </article>
    <!-- 以下、コメント -->
    <div class="">
      <h3>コメント</h3>
      <% @comments.each do |comment| %>
      <!-- 繰り返し -->
        <h4><%= comment.user.name %></h3>
        <pre><%= comment.text %></pre>
      <!-- ここまで -->
      <% end %>
    </div>
  </body>
