<% provide(:title, @article.title) %>
<!DOCTYPE html>
<html>
  <body>
    <article class="card">
      <div class="it-Header">
        <div class="col-sm-2">
          <%= image_tag("sibaken.jpg", size: "80x80",class: "avatar") %>
        </div>
        <div class="user-info"><%= link_to(@article.child.user.name, user_path)%> <%= "#{time_ago_in_words(@article.created_at)} ago" %><div>
      </div>
      <h1 class="syousai-title"><%= "#{@article.title}"  %></h1>
      <p class="honbun"><%= @article.text %></p>
    </article>
    <div class="comment">
      <div class="title">コメント</div>
      <div class="container">
        <% @comments.each do |comment| %>
          <div class="col-sm-2">
            <%= image_tag("sibaken.jpg", size: "40x40",class: "avatar") %>
          </div>
          <h4 class="name"><%= comment.user.name %> <%= "#{time_ago_in_words(comment.created_at)} ago" %></h3>
          <pre class="card">
            <div class="text">
              <%= comment.text %>
            </div>
          </pre>
        <% end %>
      </div>
    </div>
  </body>
