<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Conovi[コナビ] </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <%= render 'layouts/header' %>
  <body class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

</html>
